<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd">

    <!--Включаем аннотация секьюрити для MVC-->
    <!--<security:global-method-security secured-annotations="enabled" pre-post-annotations="enabled"/>-->
    <bean class="org.lwerl.caloriesmng.util.Mapper" id="objectMapper" factory-method="getMapper"/>
    <!--Подключение статических ресурсов html-->
    <mvc:default-servlet-handler/>
    <mvc:interceptors>
        <bean class="org.lwerl.caloriesmng.web.interceptor.ModelInterseptor"/>
    </mvc:interceptors>
    <mvc:annotation-driven conversion-service="conversionService">
        <mvc:message-converters >
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="objectMapper" ref="objectMapper"/>
            </bean>

            <!--uTF-8-->
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/plain;charset=UTF-8</value>
                        <value>text/html;charset=UTF-8</value> <!--- Fix AbstractMessageConverterMethodProcessor#142 -->
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!--StringToLocalDateTimeConverter-->
    <bean class="org.springframework.context.support.ConversionServiceFactoryBean" id="conversionService">
        <property name="converters">
            <set>
                <bean class="org.lwerl.caloriesmng.util.converter.StringToLocalDateTimeConverter"/>
            </set>
        </property>
    </bean>

    <!--<mvc:resources mapping="/dandelion/**" location="/dandelion/" />-->
    <mvc:resources mapping="/resources/**" location="/resources/" />
    <mvc:resources mapping="/webjars/**" location="classpath:/META-INF/resources/webjars/"/>
    <context:component-scan base-package="org.lwerl.caloriesmng.web" />

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"
          p:prefix="/WEB-INF/jsp/"
          p:suffix=".jsp"/>

    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource"
          p:cacheSeconds="60"
          p:defaultEncoding="UTF-8">
        <property name="basenames" value="messages.app"/>
    </bean>

</beans>